.tab-card {
  min-width: 75vw;
  width: auto;
  height: auto;
  background-color: white;
  padding: 25px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: rgba(0, 0, 0, 0.7);
}
.nav-link {
  color: black;
  padding: 0.25rem 10px 0.25rem 10px;
  opacity: 0.6;
}
.nav-link:hover {
  color: black;
}
.nav-link.active {
  color: #3469fa;
  border-left: 2px solid #3469fa;
  opacity: 1;
}
.active:hover {
  color: #3469fa;
}
.menu-heading {
  font-size: 0.85rem;
  opacity: 1;
}
.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.fa-folder {
  color: #b5c4ff;
}
