.tab-card {
  min-width: 75vw;
  width: auto;
  height: auto;
  background-color: white;
  padding: 25px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: rgba(0, 0, 0, 0.6);
}
h5 {
  color: black;
}
.nav-link {
  color: black;
  padding: 0.25rem 10px 0.25rem 10px;
  opacity: 0.6;
}
.nav-link:hover {
  color: black;
}
.nav-link.active {
  color: #3469fa;
  border-left: 2px solid #3469fa;
  opacity: 1;
}
.active:hover {
  color: #3469fa;
}
.menu-heading {
  font-size: 0.85rem;
  opacity: 1;
}
.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.fa-folder {
  color: #b5c4ff;
}
.div-link {
  cursor: pointer;
}
.variant-section {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 1rem 0;
}
.images-section {
  text-align: center;
  border: 1px dashed #3469fa;
  border-radius: 4px;
  padding: 5rem 0;
}
.sub-heading {
  font-weight: 600;
  font-size: 1.15rem;
  margin: 1.5rem 0;
}
