div {
  font-size: 0.95rem;
}
.nav-link {
  color: black;
  padding: 0.25rem 10px 0.25rem 10px;
}
.nav-link:hover {
  color: black;
}
.nav-link.active {
  color: #3469fa;
  border-left: 2px solid #3469fa;
}
.active:hover {
  color: #3469fa;
}
.menu-heading {
  font-size: 0.85rem;
}
.form-group {
  margin-bottom: 10px;
}
